body{
    background-color: rgb(154, 182, 182);
}
body a{
    background-color: rgb(179, 131, 202);
    text-decoration: none;
    margin: 1.7%;
    color: black;
    border: rgb(96, 96, 231);
    border-radius: 5px;
    padding: 0.1% ;
    border: 1.5px solid rgb(141, 61, 216);
}